#tree-view {
    display: none;
    scrollbar-gutter: stable;
    overflow: auto;
    width: auto;
    height: 100%;
    dock: left;
}

TextEditor.-show-tree #tree-view {
    display: block;
    max-width: 50%;
}

#code {
    overflow: auto scroll;
    max-width: 100%;
}
